In [2]:
import pandas as pd

/home/ahmed/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ahmed/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df = pd.read_csv("data/superficie.csv")
iq=pd.read_csv("data/IQ_pays.csv")

In [4]:
df

                            Pays              Superficie Superficie_edited
0                         Russia  17,098,246 (6,601,667)          17098246
1                     Antarctica  14,200,000 (5,480,000)          14200000
2                         Canada   9,984,670 (3,855,100)           9984670
3                          China   9,596,960 (3,705,410)           9596960
4                  United States   9,369,417 (3,617,551)           9369417
..                           ...                     ...               ...
258  Ashmore and Cartier Islands               5.0 (1.9)               5,0
259            Coral Sea Islands               3.0 (1.2)               3,0
260              Spratly Islands              2.0 (0.77)               2,0
261                       Monaco              2.0 (0.77)               2,0
262                 Vatican City             0.49 (0.19)              0,49

[263 rows x 3 columns]

In [5]:
iq

,country,averageIqByCountry_iqLynnBecker2019,averageIqByCountry_sourceLynnBecker2019,AverageIQ_ICI2017Grade,AverageIQ_ICI2017Score,AverageIQPISA2022MeanScoreMathematics,AverageIQPISA2022MeanScoreReading,AverageIQPISA2022MeanScoreScience
0,India,76.24,T,C-,29.4,406.0,405.0,403.0
1,China,104.10,T,B,47.3,390.0,374.0,384.0
2,United States,97.43,T,A+,74.9,NaN,NaN,NaN
3,Indonesia,78.49,T,D+,23.7,365.0,339.0,365.0
4,Pakistan,80.00,T,D,19.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
192,Turks and Caicos Islands,84.29,E,NaN,NaN,NaN,NaN,NaN
193,Marshall Islands,83.96,T,NaN,NaN,NaN,NaN,NaN
194,Liechtenstein,101.07,E,NaN,NaN,NaN,NaN,NaN
195,British Virgin Islands,76.69,E,NaN,NaN,385.0,415.0,411.0
196,Cook Islands,83.96,E,NaN,NaN,430.0,438.0,441.0

In [6]:
res={
    'pays':set(),
    'country':set()
}
out={}
nb=0

In [10]:
for cnt in df['Pays']:
    out[cnt]=False
for cnt in df['Pays']:
    for val in iq["country"]:
        if out[cnt]==False and cnt!=val and ((cnt in val) or (val in cnt)):
            if cnt!='Niger':
                df[df['Pays']==cnt]=val
            print(cnt,"=>",val)
        if cnt==val: 
            out[cnt]=True
            nb+=1
print(nb)

Niger => Nigeria
589

In [11]:
out

{'Russia': True,
 'Antarctica': False,
 'Canada': True,
 'China': True,
 'United States': True,
 'Brazil': True,
 'Australia': True,
 'India': True,
 'Argentina': True,
 'Kazakhstan': True,
 'Algeria': True,
 'Democratic Republic of the Congo': False,
 'Danish Realm': False,
 'Greenland': True,
 'Saudi Arabia': True,
 'Mexico': True,
 'Indonesia': True,
 'Sudan': True,
 'Libya': True,
 'Iran': True,
 'Mongolia': True,
 'Peru': True,
 'Chad': True,
 'Niger': True,
 'Angola': True,
 'Mali': True,
 'South Africa': True,
 'Colombia': True,
 'Ethiopia': True,
 'Bolivia': True,
 'Mauritania': True,
 'Egypt': True,
 'Tanzania': True,
 'Nigeria': True,
 'Venezuela': True,
 'Pakistan': True,
 'Namibia': True,
 'Mozambique': True,
 'Turkey': True,
 'Chile': True,
 'Zambia': True,
 'Myanmar': True,
 'Afghanistan': True,
 'South Sudan': True,
 'France': True,
 'Somalia': True,
 'Central African Republic': True,
 'Ukraine': True,
 'Madagascar': True,
 'Botswana': True,
 'Kenya': True,
 'Yemen': True,
 'Thailand': True,
 'Spain': True,
 'Turkmenistan': True,
 'Cameroon': True,
 'Papua New Guinea': True,
 'Uzbekistan': True,
 'Sweden': True,
 'Morocco': True,
 'Iraq': True,
 'Paraguay': True,
 'Zimbabwe': True,
 'Norway': True,
 'Japan': True,
 'Germany': True,
 'Republic of the Congo': True,
 'Finland': True,
 'Vietnam': True,
 'Malaysia': True,
 'Ivory Coast': True,
 'Poland': True,
 'Oman': True,
 'Italy': True,
 'Philippines': True,
 'Ecuador': True,
 'Burkina Faso': True,
 'New Zealand': True,
 'Gabon': True,
 'Western Sahara': False,
 'Guinea': True,
 'United Kingdom': True,
 'Uganda': True,
 'Ghana': True,
 'Romania': True,
 'Laos': True,
 'Guyana': True,
 'Belarus': True,
 'Kyrgyzstan': True,
 'Senegal': True,
 'Syria': True,
 'Cambodia': True,
 'Somaliland': False,
 'Uruguay': True,
 'Suriname': True,
 'Tunisia': True,
 'Bangladesh': True,
 'Nepal': True,
 'Tajikistan': True,
 'Greece': True,
 'Nicaragua': True,
 'North Korea': True,
 'Malawi': True,
 'Eritrea': True,
 'Benin': True,
 'Honduras': True,
 'Liberia': True,
 'Bulgaria': True,
 'Cuba': True,
 'Guatemala': True,
 'Iceland': True,
 'South Korea': True,
 'Hungary': True,
 'Portugal': True,
 'Jordan': True,
 'Serbia': True,
 'Azerbaijan': True,
 'Austria': True,
 'United Arab Emirates': True,
 'Czech Republic': True,
 'Panama': True,
 'Sierra Leone': True,
 'Republic of Ireland': False,
 'Georgia (country)': False,
 'Sri Lanka': True,
 'Lithuania': True,
 'Latvia': True,
 'Svalbard': False,
 'Togo': True,
 'Croatia': True,
 'Bosnia and Herzegovina': True,
 'Costa Rica': True,
 'Slovakia': True,
 'Dominican Republic': True,
 'Estonia': True,
 'Denmark': True,
 'Netherlands': True,
 'Switzerland': True,
 'Bhutan': True,
 'Taiwan': True,
 'Guinea-Bissau': False,
 'Moldova': True,
 'Belgium': True,
 'Lesotho': True,
 'Armenia': True,
 'Solomon Islands': True,
 'Albania': True,
 'Equatorial Guinea': False,
 'Burundi': True,
 'Haiti': True,
 'Rwanda': True,
 'North Macedonia': True,
 'Djibouti': True,
 'Belize': True,
 'Israel': True,
 'El Salvador': True,
 'Slovenia': True,
 'New Caledonia': True,
 'Fiji': True,
 'Kuwait': True,
 'Eswatini': True,
 'East Timor': False,
 'The Bahamas': False,
 'Montenegro': True,
 'Vanuatu': True,
 'Falkland Islands': False,
 'Qatar': True,
 'The Gambia': False,
 'Jamaica': True,
 'Kosovo': False,
 'Lebanon': True,
 'Cyprus': True,
 'Puerto Rico': True,
 'Abkhazia': False,
 'French Southern and Antarctic Lands': False,
 'State of Palestine': False,
 'Brunei': True,
 'Trinidad and Tobago': False,
 'French Polynesia': False,
 'Transnistria': False,
 'Cape Verde': True,
 'South Georgia and the South Sandwich Islands': False,
 'South Ossetia': False,
 'Northern Cyprus': False,
 'Samoa': True,
 'Luxembourg': True,
 'Bir Tawil': False,
 'Mauritius': True,
 'Comoros': True,
 'Ã…land': False,
 'Faroe Islands': False,
 'Hong Kong': True,
 'SÃ£o TomÃ© and PrÃ­ncipe': False,
 'Turks and Caicos Islands': True,
 'Kiribati': True,
 'Bahrain': True,
 'Dominica': True,
 'Tonga': True,
 'Singapore': True,
 'Federated States of Micronesia': False,
 'Saint Lucia': True,
 'Isle of Man': False,
 'Guam': False,
 'Andorra': True,
 'Palau': False,
 'Northern Mariana Islands': True,
 'Seychelles': True,
 'CuraÃ§ao': False,
 'Antigua and Barbuda': True,
 'Barbados': True,
 'Heard Island and McDonald Islands': False,
 'Saint Helena, Ascension and Tristan da Cunha': False,
 'Saint Vincent and the Grenadines': True,
 'Jan Mayen': False,
 'United States Virgin Islands': False,
 'Grenada': True,
 'Malta': True,
 'Maldives': True,
 'Bonaire': False,
 'Cayman Islands': True,
 'Saint Kitts and Nevis': True,
 'Niue': False,
 'Akrotiri and Dhekelia': False,
 'Saint Pierre and Miquelon': False,
 'Cook Islands': True,
 'American Samoa': False,
 'Marshall Islands': True,
 'Aruba': False,
 'Easter Island': False,
 'Liechtenstein': True,
 'British Virgin Islands': True,
 'Wallis and Futuna': False,
 'Christmas Island': False,
 'Jersey': False,
 'Montserrat': False,
 'Anguilla': False,
 'Bailiwick of Guernsey': False,
 'San Marino': False,
 'British Indian Ocean Territory': False,
 'Bermuda': True,
 'Saint Martin (France)': False,
 'Bouvet Island': False,
 'Pitcairn Islands': False,
 'Norfolk Island': False,
 'Sint Maarten': False,
 'United States Minor Outlying Islands': False,
 'Macau': True,
 'Tuvalu': False,
 'Saint BarthÃ©lemy': False,
 'Nauru': False,
 'Sint Eustatius': False,
 'Cocos (Keeling) Islands': False,
 'Saba (island)': False,
 'Tokelau': False,
 'Gibraltar': False,
 'Clipperton Island': False,
 'Ashmore and Cartier Islands': False,
 'Coral Sea Islands': False,
 'Spratly Islands': False,
 'Monaco': False,
 'Vatican City': False,
 'Ireland': True,
 'Georgia': True,
 'Bahamas': True,
 'Gambia': True,
 'Palestine': True,
 'Micronesia': True}

In [23]:
df[df['Pays']=='US']='United States'

In [28]:
df[df['Pays']=='Burkina']='Burkina Faso'

In [29]:
df[df['Pays']=='(North) Sudan']='Sudan'

In [30]:
df[df['Pays']=='(South) Sudan']='Sudan'

In [31]:
df[df['Pays']=='Equatorial Guinea']='Guinea'

In [32]:
df[df['Pays']=='Turkey*']='Turkey'

In [33]:
df[df['Pays']=='Georgia*']='Georgia'

In [12]:
df

                            Pays              Superficie Superficie_edited
0                         Russia  17,098,246 (6,601,667)          17098246
1                     Antarctica  14,200,000 (5,480,000)          14200000
2                         Canada   9,984,670 (3,855,100)           9984670
3                          China   9,596,960 (3,705,410)           9596960
4                  United States   9,369,417 (3,617,551)           9369417
..                           ...                     ...               ...
258  Ashmore and Cartier Islands               5.0 (1.9)               5,0
259            Coral Sea Islands               3.0 (1.2)               3,0
260              Spratly Islands              2.0 (0.77)               2,0
261                       Monaco              2.0 (0.77)               2,0
262                 Vatican City             0.49 (0.19)              0,49

[263 rows x 3 columns]

In [13]:
df.to_csv('data/superficie_merged.csv', index=False)