In [1]:
import pandas as pd
import numpy as np
pd.DataFrame.iteritems = pd.DataFrame.items

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("../datasets_merged/df_mergedFinal.csv")
df

,Country,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Annee_Souverainete,Nb_Univtop500,Mean_Rank_Univ,Political_Regime,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,...,Averageiqbycountry_Iqlynnbecker2019,Averageiqbycountry_Sourcelynnbecker2019,Averageiq_Ici2017Grade,Averageiq_Ici2017Score,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution,Nb_Foreign_Students
0,Afghanistan,4.500000,574.000000,0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,82.12,E,NaN,NaN,368.0,358.0,376.0,346.873954,3.303561,NaN
1,Albania,4.530769,659.500000,0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,81.75,E,D+,23.4,NaN,NaN,NaN,6455.209751,57.635801,NaN
2,Algeria,4.350000,184.000000,2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,76.00,E,D,19.1,378.0,401.0,406.0,3640.548936,58.718531,NaN
3,Andorra,4.504762,201.476190,0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,95.20,E,NaN,NaN,NaN,NaN,NaN,41655.939232,NaN,NaN
4,Angola,4.205263,98.947368,0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,75.10,T,NaN,NaN,487.0,498.0,507.0,1868.699719,38.136729,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,4.340741,372.740741,1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,82.99,T,C-,26.8,NaN,NaN,NaN,17043.477492,80.016326,NaN
193,Vietnam,0.000000,0.000000,1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,89.53,T,C-,25.1,NaN,NaN,NaN,3728.987606,47.202375,NaN
194,Yemen,4.280000,48.250000,1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,62.86,T,NaN,NaN,NaN,NaN,NaN,641.196791,18.858729,NaN
195,Zambia,3.975000,288.250000,0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,68.43,E,D,18.9,NaN,NaN,NaN,1103.845323,18.397422,NaN
196,Zimbabwe,3.847059,161.176471,0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,74.01,T,D-,11.7,NaN,NaN,NaN,1738.376542,29.464009,NaN

In [4]:
numerical_columns = df.select_dtypes(include=['number'])
ds=numerical_columns.drop(columns=['Annee_Souverainete','Break_1','Break_2', 'Break_3', 'Break_4', 'Break_5','Political_Regime','Mean_Rank_Univ','Averageiq_Ici2017Score'])
ds

,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Nb_Univtop500,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,Primary,Lower_Secondary,End_Of_The_School_Year_Break,Literacy_Rate_2021,...,Population,Education_Spending_2021,Gdp,Averageiqbycountry_Iqlynnbecker2019,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution,Nb_Foreign_Students
0,4.500000,574.000000,0.0,0.0,144098.0,5853838.0,NaN,NaN,NaN,37.27,...,41128771.0,NaN,1.426650e+10,82.12,368.0,358.0,376.0,346.873954,3.303561,NaN
1,4.530769,659.500000,0.0,0.0,48810.0,1250451.0,NaN,NaN,NaN,NaN,...,2777689.0,3.09,1.793057e+10,81.75,NaN,NaN,NaN,6455.209751,57.635801,NaN
2,4.350000,184.000000,2.0,0.0,250378.0,2022337.0,NaN,NaN,NaN,NaN,...,44903225.0,6.30,1.634724e+11,76.00,378.0,401.0,406.0,3640.548936,58.718531,NaN
3,4.504762,201.476190,0.0,0.0,45574.0,11132.0,NaN,NaN,NaN,NaN,...,79824.0,2.58,3.325144e+09,95.20,NaN,NaN,NaN,41655.939232,NaN,NaN
4,4.205263,98.947368,0.0,0.0,656434.0,668066.0,NaN,NaN,NaN,NaN,...,35588987.0,2.30,6.650513e+10,75.10,487.0,498.0,507.0,1868.699719,38.136729,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,4.340741,372.740741,1.0,0.0,1324193.0,5415337.0,NaN,NaN,NaN,NaN,...,28301696.0,NaN,4.823593e+11,82.99,NaN,NaN,NaN,17043.477492,80.016326,NaN
193,0.000000,0.000000,1.0,0.0,76767.0,3392025.0,NaN,NaN,NaN,NaN,...,98186856.0,2.95,3.661376e+11,89.53,NaN,NaN,NaN,3728.987606,47.202375,NaN
194,4.280000,48.250000,1.0,0.0,387113.0,1301166.0,NaN,NaN,NaN,NaN,...,33696614.0,NaN,2.160616e+10,62.86,NaN,NaN,NaN,641.196791,18.858729,NaN
195,3.975000,288.250000,0.0,0.0,187955.0,200700.0,NaN,NaN,NaN,NaN,...,20017675.0,3.11,2.209642e+10,68.43,NaN,NaN,NaN,1103.845323,18.397422,NaN
196,3.847059,161.176471,0.0,0.0,416141.0,1243314.0,NaN,NaN,NaN,NaN,...,16320537.0,NaN,2.837124e+10,74.01,NaN,NaN,NaN,1738.376542,29.464009,NaN

In [5]:
#garder que les variables dont au moins 100 valeurs sont renseignées:

colonnes=list(ds.describe().columns[ds.describe().loc['count'] > 100])
colonnes

['Notes_Musees',
 'Nbvotes_Musees_Clean',
 'Nb_Prixnobel',
 'Nb_Univtop500',
 'Immigrationbycountry_Immigrants',
 'Immigrationbycountry_Emigrants',
 'Area',
 'Population',
 'Education_Spending_2021',
 'Gdp',
 'Averageiqbycountry_Iqlynnbecker2019',
 'Gdp_Percapita',
 'Indice_Evolution']

In [6]:
ds=ds[colonnes].dropna()
ds

,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Nb_Univtop500,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,Area,Population,Education_Spending_2021,Gdp,Averageiqbycountry_Iqlynnbecker2019,Gdp_Percapita,Indice_Evolution
1,4.530769,659.500000,0.0,0.0,48810.0,1250451.0,28748.0,2777689.0,3.09,1.793057e+10,81.75,6455.209751,57.635801
2,4.350000,184.000000,2.0,0.0,250378.0,2022337.0,2381741.0,44903225.0,6.30,1.634724e+11,76.00,3640.548936,58.718531
4,4.205263,98.947368,0.0,0.0,656434.0,668066.0,1246700.0,35588987.0,2.30,6.650513e+10,75.10,1868.699719,38.136729
6,4.585185,12605.000000,5.0,1.0,2281728.0,1076148.0,2780400.0,46234830.0,4.65,4.879026e+11,86.63,10552.706091,49.311711
7,4.703704,223.592593,1.0,0.0,190349.0,958190.0,29743.0,2780469.0,2.77,1.387891e+10,88.82,4991.571073,146.810914
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,4.662963,26222.222222,137.0,49.0,9359587.0,4732510.0,243610.0,66971395.0,5.33,3.141506e+12,99.12,46908.178583,147.975327
189,4.540741,1484.518519,0.0,0.0,108267.0,367060.0,176215.0,3422794.0,4.41,6.141227e+10,87.59,17942.145583,90.161536
190,4.450000,189.583333,0.0,0.0,1162007.0,2027823.0,447400.0,35648100.0,5.37,6.960061e+10,89.01,1952.435473,59.164711
193,0.000000,0.000000,1.0,0.0,76767.0,3392025.0,331340.0,98186856.0,2.95,3.661376e+11,89.53,3728.987606,47.202375
195,3.975000,288.250000,0.0,0.0,187955.0,200700.0,752612.0,20017675.0,3.11,2.209642e+10,68.43,1103.845323,18.397422

In [7]:
X = ds # Sélectionner toutes les colonnes 
y = df.loc[ds.index,'Continent']  # Sélectionner uniquement la colonne des labels

In [8]:
from sklearn.preprocessing import LabelEncoder

# Initialiser l'encodeur de labels
label_encoder = LabelEncoder()

# Adapter l'encodeur aux données de labels et le transformer en entiers
labels = label_encoder.fit_transform(y)

# Afficher les labels encodés
print("Labels encodés :", labels)

Labels encodés : [2 0 0 5 1 4 2 1 1 1 2 2 3 2 0 0 1 0 3 0 0 1 0 0 3 2 1 2 2 3 3 2 0 0 4 2 2
 0 2 0 2 3 0 3 3 2 2 1 1 1 2 0 3 1 1 1 0 4 1 2 0 0 2 2 0 1 1 0 2 0 0 2 1 0
 0 0 1 2 4 3 0 2 1 3 5 5 1 2 2 0 2 0 0 2 0 0 1 2 2 0 2 1 2 0 1 0 4 0 2 1 2
 5 1 1 0]

# SVM

In [9]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, labels, test_size=0.2, random_state=42)

# Initialiser le modèle SVM
svm_model = SVC()

# Entraîner le modèle SVM
svm_model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
svm_predictions = svm_model.predict(X_test)

# Calculer l'exactitude du modèle
svm_accuracy = accuracy_score(y_test, svm_predictions)
print("Accuracy SVM :", svm_accuracy)

Accuracy SVM : 0.30434782608695654

# Reg logistique

In [10]:
from sklearn.linear_model import LogisticRegression

# Initialiser le modèle de régression logistique avec la pondération des classes
lr_model_weighted = LogisticRegression(class_weight='balanced')

# Entraîner le modèle de régression logistique
lr_model_weighted.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
lr_predictions_weighted = lr_model_weighted.predict(X_test)

# Calculer l'accuracy du modèle
lr_accuracy_weighted = accuracy_score(y_test, lr_predictions_weighted)
print("Accuracy Régression Logistique avec pondération des classes :", lr_accuracy_weighted)

Accuracy Régression Logistique avec pondération des classes : 0.34782608695652173

# XGboost

In [11]:
import xgboost as xgb

# Initialiser le modèle XGBoost avec la pondération des classes
xgb_model_weighted = xgb.XGBClassifier(scale_pos_weight=len(y_train[y_train==0])/len(y_train[y_train==1]))

# Entraîner le modèle XGBoost
xgb_model_weighted.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
xgb_predictions_weighted = xgb_model_weighted.predict(X_test)

# Calculer l'exactitude du modèle
xgb_accuracy_weighted = accuracy_score(y_test, xgb_predictions_weighted)
print("Exactitude XGBoost avec pondération des classes :", xgb_accuracy_weighted)

Exactitude XGBoost avec pondération des classes : 0.5652173913043478

In [12]:
label_encoder.inverse_transform(xgb_predictions_weighted)

array(['europe', 'europe', 'europe', 'africa', 'europe', 'europe',
       'north-america', 'north-america', 'africa', 'europe', 'europe',
       'europe', 'asia', 'asia', 'europe', 'north-america', 'asia',
       'europe', 'africa', 'asia', 'oceania', 'asia', 'africa'],
      dtype=object)

In [13]:
label_encoder.inverse_transform(y_test)

array(['europe', 'asia', 'europe', 'africa', 'europe', 'europe', 'africa',
       'asia', 'asia', 'europe', 'europe', 'europe', 'south-america',
       'asia', 'north-america', 'europe', 'asia', 'asia', 'africa',
       'asia', 'africa', 'asia', 'north-america'], dtype=object)

In [14]:
#accuracy par classe