In [1]:
import matplotlib.pyplot as plt
import seaborn
seaborn.set_style("white")
%matplotlib inline
import pandas as pd
import numpy as np
pd.DataFrame.iteritems = pd.DataFrame.items

In [2]:
df=pd.read_csv("../../datasets_merged/df_mergedFinal.csv")
df

,Country,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Annee_Souverainete,Nb_Univtop500,Mean_Rank_Univ,Political_Regime,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,...,Averageiqbycountry_Iqlynnbecker2019,Averageiqbycountry_Sourcelynnbecker2019,Averageiq_Ici2017Grade,Averageiq_Ici2017Score,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution,Nb_Foreign_Students
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,82.12,E,NaN,NaN,368.0,358.0,376.0,346.873954,3.303561,NaN
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,81.75,E,D+,23.4,NaN,NaN,NaN,6455.209751,57.635801,NaN
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,76.00,E,D,19.1,378.0,401.0,406.0,3640.548936,58.718531,NaN
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,95.20,E,NaN,NaN,NaN,NaN,NaN,41655.939232,NaN,NaN
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,75.10,T,NaN,NaN,487.0,498.0,507.0,1868.699719,38.136729,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,82.99,T,C-,26.8,NaN,NaN,NaN,17043.477492,80.016326,NaN
193,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,89.53,T,C-,25.1,NaN,NaN,NaN,3728.987606,47.202375,NaN
194,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,62.86,T,NaN,NaN,NaN,NaN,NaN,641.196791,18.858729,NaN
195,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,68.43,E,D,18.9,NaN,NaN,NaN,1103.845323,18.397422,NaN
196,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,74.01,T,D-,11.7,NaN,NaN,NaN,1738.376542,29.464009,NaN

In [3]:
numerical_columns = df.select_dtypes(include=['number'])
ds=numerical_columns.drop(columns=['Annee_Souverainete','Break_1','Break_2', 'Break_3', 'Break_4', 'Break_5','Political_Regime'])
ds

,Nb_Prixnobel,Nb_Univtop500,Mean_Rank_Univ,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,Primary,Lower_Secondary,End_Of_The_School_Year_Break,Literacy_Rate_2021,Global_rank_Literacy_rate,...,Education_Spending_2021,Gdp,Averageiqbycountry_Iqlynnbecker2019,Averageiq_Ici2017Score,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution,Nb_Foreign_Students
0,0.0,0.0,NaN,144098.0,5853838.0,NaN,NaN,NaN,37.27,39.0,...,NaN,1.426650e+10,82.12,NaN,368.0,358.0,376.0,346.873954,3.303561,NaN
1,0.0,0.0,NaN,48810.0,1250451.0,NaN,NaN,NaN,NaN,NaN,...,3.09,1.793057e+10,81.75,23.4,NaN,NaN,NaN,6455.209751,57.635801,NaN
2,2.0,0.0,NaN,250378.0,2022337.0,NaN,NaN,NaN,NaN,NaN,...,6.30,1.634724e+11,76.00,19.1,378.0,401.0,406.0,3640.548936,58.718531,NaN
3,0.0,0.0,NaN,45574.0,11132.0,NaN,NaN,NaN,NaN,NaN,...,2.58,3.325144e+09,95.20,NaN,NaN,NaN,NaN,41655.939232,NaN,NaN
4,0.0,0.0,NaN,656434.0,668066.0,NaN,NaN,NaN,NaN,NaN,...,2.30,6.650513e+10,75.10,NaN,487.0,498.0,507.0,1868.699719,38.136729,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,1.0,0.0,NaN,1324193.0,5415337.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.823593e+11,82.99,26.8,NaN,NaN,NaN,17043.477492,80.016326,NaN
193,1.0,0.0,NaN,76767.0,3392025.0,NaN,NaN,NaN,NaN,NaN,...,2.95,3.661376e+11,89.53,25.1,NaN,NaN,NaN,3728.987606,47.202375,NaN
194,1.0,0.0,NaN,387113.0,1301166.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.160616e+10,62.86,NaN,NaN,NaN,NaN,641.196791,18.858729,NaN
195,0.0,0.0,NaN,187955.0,200700.0,NaN,NaN,NaN,NaN,NaN,...,3.11,2.209642e+10,68.43,18.9,NaN,NaN,NaN,1103.845323,18.397422,NaN
196,0.0,0.0,NaN,416141.0,1243314.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.837124e+10,74.01,11.7,NaN,NaN,NaN,1738.376542,29.464009,NaN

In [11]:
ds.describe().loc['count']

Nb_Prixnobel                             197.0
Nb_Univtop500                            197.0
Mean_Rank_Univ                            58.0
Immigrationbycountry_Immigrants          192.0
Immigrationbycountry_Emigrants           192.0
Primary                                   38.0
Lower_Secondary                           38.0
End_Of_The_School_Year_Break              33.0
Literacy_Rate_2021                        38.0
Global_rank_Literacy_rate                 38.0
Area                                     190.0
Nb_graduates                              29.0
Population                               192.0
Education_Spending_2021                  138.0
Gdp                                      191.0
Averageiqbycountry_Iqlynnbecker2019      197.0
Averageiq_Ici2017Score                   127.0
Averageiqpisa2022Meanscoremathematics     79.0
Averageiqpisa2022Meanscorereading         79.0
Averageiqpisa2022Meanscorescience         79.0
Gdp_Percapita                            191.0
Indice_Evolution                         162.0
Nb_Foreign_Students                       36.0
Name: count, dtype: float64