In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv("../../datasets_merged/df_mergedFinal.csv")
numerical_columns = df.select_dtypes(include=['number'])
df_num=numerical_columns.drop(columns=['Annee_Souverainete','Break_1','Break_2', 'Break_3', 'Break_4', 'Break_5','Political_Regime'])
df_num

,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Nb_Univtop500,Mean_Rank_Univ,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,Primary,Lower_Secondary,End_Of_The_School_Year_Break,...,Education_Spending_2021,Gdp,Averageiqbycountry_Iqlynnbecker2019,Averageiq_Ici2017Score,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution,Nb_Foreign_Students
0,4.500000,574.000000,0.0,0.0,NaN,144098.0,5853838.0,NaN,NaN,NaN,...,NaN,1.426650e+10,82.12,NaN,368.0,358.0,376.0,346.873954,3.303561,NaN
1,4.530769,659.500000,0.0,0.0,NaN,48810.0,1250451.0,NaN,NaN,NaN,...,3.09,1.793057e+10,81.75,23.4,NaN,NaN,NaN,6455.209751,57.635801,NaN
2,4.350000,184.000000,2.0,0.0,NaN,250378.0,2022337.0,NaN,NaN,NaN,...,6.30,1.634724e+11,76.00,19.1,378.0,401.0,406.0,3640.548936,58.718531,NaN
3,4.504762,201.476190,0.0,0.0,NaN,45574.0,11132.0,NaN,NaN,NaN,...,2.58,3.325144e+09,95.20,NaN,NaN,NaN,NaN,41655.939232,NaN,NaN
4,4.205263,98.947368,0.0,0.0,NaN,656434.0,668066.0,NaN,NaN,NaN,...,2.30,6.650513e+10,75.10,NaN,487.0,498.0,507.0,1868.699719,38.136729,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,4.340741,372.740741,1.0,0.0,NaN,1324193.0,5415337.0,NaN,NaN,NaN,...,NaN,4.823593e+11,82.99,26.8,NaN,NaN,NaN,17043.477492,80.016326,NaN
193,0.000000,0.000000,1.0,0.0,NaN,76767.0,3392025.0,NaN,NaN,NaN,...,2.95,3.661376e+11,89.53,25.1,NaN,NaN,NaN,3728.987606,47.202375,NaN
194,4.280000,48.250000,1.0,0.0,NaN,387113.0,1301166.0,NaN,NaN,NaN,...,NaN,2.160616e+10,62.86,NaN,NaN,NaN,NaN,641.196791,18.858729,NaN
195,3.975000,288.250000,0.0,0.0,NaN,187955.0,200700.0,NaN,NaN,NaN,...,3.11,2.209642e+10,68.43,18.9,NaN,NaN,NaN,1103.845323,18.397422,NaN
196,3.847059,161.176471,0.0,0.0,NaN,416141.0,1243314.0,NaN,NaN,NaN,...,NaN,2.837124e+10,74.01,11.7,NaN,NaN,NaN,1738.376542,29.464009,NaN

In [13]:
df_num.columns

Index(['Notes_Musees', 'Nbvotes_Musees_Clean', 'Nb_Prixnobel', 'Nb_Univtop500',
       'Mean_Rank_Univ', 'Immigrationbycountry_Immigrants',
       'Immigrationbycountry_Emigrants', 'Primary', 'Lower_Secondary',
       'End_Of_The_School_Year_Break', 'Literacy_Rate_2021',
       'Global_rank_Literacy_rate', 'Area', 'Nb_graduates', 'Population',
       'Education_Spending_2021', 'Gdp', 'Averageiqbycountry_Iqlynnbecker2019',
       'Averageiq_Ici2017Score', 'Averageiqpisa2022Meanscoremathematics',
       'Averageiqpisa2022Meanscorereading',
       'Averageiqpisa2022Meanscorescience', 'Gdp_Percapita',
       'Indice_Evolution', 'Nb_Foreign_Students'],
      dtype='object')

In [ ]:

hac = AgglomerativeClustering(distance_threshold=0, n_clusters=None)
hac.fit(WGI_num)